chisel/target/
chisel/project/target/
chisel/build/
chisel/.bsp/
chisel/.metals/
generated/filelist.f
generated/verification/
generated/reports/*/vivado.log
chisel/src/test/resources/rv32i/*.bin
chisel/src/test/resources/rv32i/*.elf
